/* 底部 */
.lt_food {
  margin-top: 30px;
  border-top: 1px solid red;
  background-color: #EFEFF4;
  padding: 10px;
}
.lt_food a {
  padding: 5px;
}
.item_box {
  padding: 10px;
  border-top: 1px solid #ccc;
}
/* 价格 */
.lt_price .price {
  color: red;
}
.lt_price .oddPrice {
  font-size: 12px;
  color: #666;
  text-decoration: line-through;
}
/* 尺码 */
.lt_size span {
  width: 25px;
  text-align: center;
  font-size: 12px;
  color: #666;
  border: 1px solid #ccc;
  padding: 3px;
  margin-left: 3px;
  display: inline-block;
}
.lt_size span.current {
  background-color: orange;
  color: #fff;
}
/* 数量 */
.lt_num span {
  font-size: 12px;
  color: #666;
}
