.lt_sort{
    height: 30px;
    background-color: #eee;
    ul{
        display: flex;
        li{
            flex: 1;
            text-align: center;
            line-height: 30px;
            a{
                color: #666;
                font-size: 12px;
            }
        }
        li.active{
            a{
                color: orange;
            }
        }
    }
}

